.nav-menu {
  margin-top: 2%;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 600px; /* Added max-width to limit width on larger screens */
  height: 3rem;
  background-color: rgba(130, 130, 130, 0.655);
  backdrop-filter: blur(10px);
  margin-left: auto; /* Center the menu horizontally */
  margin-right: auto; /* Center the menu horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(21, 14, 6);
  gap: 20px;
}

.nav-text {
  padding: 20px;
  text-transform: capitalize;
  font-size: 1.25rem;
  padding-bottom: 3px;
}

.nav-text:hover {
  position: relative;
}

.nav-text:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: gold;
  box-shadow: 0 0 5px rgb(255, 231, 97),
              0 0 10px rgb(255, 231, 97),
              0 0 15px rgb(255, 231, 97),
              0 0 20px rgb(255, 231, 97);
  animation: neon 1s infinite alternate;
}

@keyframes neon {
  from {
      opacity: 0.5;
  }
  to {
      opacity: 1;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .nav-menu {
      width: 90%; /* Adjusted width for smaller screens */
      margin-left: auto; /* Center the menu horizontally */
      margin-right: auto; /* Center the menu horizontally */
  }

  .nav-links li {
      margin-right: 5px; /* Reduced margin between menu items */
  }

  .nav-text {
      font-size: 1rem; /* Adjusted font size for smaller screens */
      padding: 10px; /* Reduced padding for smaller screens */
  }
}
