.nav-menu {
    display: flex;
    justify-content: center;
    background-color: rgba(239, 243, 226, 0.841);
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 3rem;
    display: flex; 
}

.nav-links li {
    margin-right: 50px; /* Adjust as needed */
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.nav-text{
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    transition: all 1s ease;
}

.nav-text:hover::after {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black; /* Change the color as needed */
    transition: all 1s ease;
}